#paragraf1 {
	font-family: "Shrikhand", cursive;
}

#paragraf2 {
	font-family: 'Nunito', sans-serif;
}

#paragraf3 {
	font-family: 'Gentium Basic', serif;
}

#paragraf4 {
	font-family: 'Pacifico', cursive;	
}